<div class="kinobox_player"></div>
<script src="https://kinobox.tv/kinobox.min.js"></script>
<style>
  body {
    margin: 0;
  }
</style>
<script>
  kbox(".kinobox_player", {
    search: {
      kinopoisk: "<%= id %>",
    },
    menu: {
      enable: true,
      default: "menu_list",
      format: "{N} :: {T} ({Q})",
      limit: 15,
      open: false,
    },
    players: {
      Alloha: {
        enable: true,
        position: 1,
      },
      Kodik: {
        enable: true,
        position: 2,
      },
      Videocdn: {
        enable: true,
        position: 3,
      },
      Ashdi: {
        enable: true,
        position: 4,
      },
      Cdnmovies: {
        enable: true,
        position: 5,
      },
      Collaps: {
        enable: true,
        position: 6,
      },
      Hdvb: {
        enable: true,
        position: 7,
      },
      Turbo: {
        enable: true,
        position: 8,
      },
      Vibix: {
        enable: true,
        position: 9,
      },
      Voidboost: {
        enable: true,
        position: 10,
      },
    },
  });
</script>